<div class="ui-links">
    <div class="ui-links__row">
        <div class="ui-links__title">Обычная ссылка</div>
        <div class="ui-links__grid">
            <div class="ui-links__item">
                <div class="ui-links__type">Default</div>
                <a class="ui-links__link" href="#">Информация</a>
            </div>
            <div class="ui-links__item">
                <div class="ui-links__type">Hover</div>
                <a class="ui-links__link" href="#" data-type="hover">Информация</a>
            </div>
            <div class="ui-links__item">
                <div class="ui-links__type">Active</div>
                <a class="ui-links__link" href="#" data-type="active">Информация</a>
            </div>
            <div class="ui-links__item">
                <div class="ui-links__type">Desabled</div>
                <a class="ui-links__link" href="#" data-type="disabled">Информация</a>
            </div>
        </div>
    </div>
    <div class="ui-links__row">
        <div class="ui-links__title">Добавить</div>
        <div class="ui-links__grid">
            <div class="ui-links__item">
                <div class="ui-links__type">Default</div>
                <a class="ui-links__link-add" href="#">Добавить</a>
            </div>
            <div class="ui-links__item">
                <div class="ui-links__type">Hover</div>
                <a class="ui-links__link-add" href="#" data-type="hover">Добавить</a>
            </div>
            <div class="ui-links__item">
                <div class="ui-links__type">Active</div>
                <a class="ui-links__link-add" href="#" data-type="active">Добавить</a>
            </div>
            <div class="ui-links__item">
                <div class="ui-links__type">Desabled</div>
                <a class="ui-links__link-add" href="#" data-type="disabled">Добавить</a>
            </div>
        </div>
    </div>
</div>
