<div class="icons-bank-preview">
    <div class="icons-bank-preview__grid large">
        <div class="icons-bank-preview__item">
            <div class="icons-bank-preview__icon">
                <sberbank-icon size="large"></sberbank-icon>
            </div>
            <div class="icons-bank-preview__icon grayscale">
                <sberbank-icon size="large"></sberbank-icon>
            </div>
        </div>
        <div class="icons-bank-preview__item">
            <div class="icons-bank-preview__icon">
                <alfabank-icon size="large"></alfabank-icon>
            </div>
            <div class="icons-bank-preview__icon grayscale">
                <alfabank-icon size="large"></alfabank-icon>
            </div>
        </div>
        <div class="icons-bank-preview__item">
            <div class="icons-bank-preview__icon">
                <vtb-icon size="large"></vtb-icon>
            </div>
            <div class="icons-bank-preview__icon grayscale">
                <vtb-icon size="large"></vtb-icon>
            </div>
        </div>
        <div class="icons-bank-preview__item">
            <div class="icons-bank-preview__icon">
                <otkritie-icon size="large"></otkritie-icon>
            </div>
            <div class="icons-bank-preview__icon grayscale">
                <otkritie-icon size="large"></otkritie-icon>
            </div>
        </div>
    </div>
    <div class="icons-bank-preview__grid">
        <div class="icons-bank-preview__item">
            <div class="icons-bank-preview__icon">
                <sberbank-icon size="medium"></sberbank-icon>
            </div>
            <div class="icons-bank-preview__icon grayscale">
                <sberbank-icon size="medium"></sberbank-icon>
            </div>
        </div>
        <div class="icons-bank-preview__item">
            <div class="icons-bank-preview__icon">
                <alfabank-icon size="medium"></alfabank-icon>
            </div>
            <div class="icons-bank-preview__icon grayscale">
                <alfabank-icon size="medium"></alfabank-icon>
            </div>
        </div>
        <div class="icons-bank-preview__item">
            <div class="icons-bank-preview__icon">
                <vtb-icon size="medium"></vtb-icon>
            </div>
            <div class="icons-bank-preview__icon grayscale">
                <vtb-icon size="medium"></vtb-icon>
            </div>
        </div>
        <div class="icons-bank-preview__item">
            <div class="icons-bank-preview__icon">
                <otkritie-icon size="medium"></otkritie-icon>
            </div>
            <div class="icons-bank-preview__icon grayscale">
                <otkritie-icon size="medium"></otkritie-icon>
            </div>
        </div>
    </div>
</div>
