<div class="ui-btns">
    <div class="ui-btns__grid">

        <!-- .large -->
        <div class="ui-btns__title">Large</div>

        <div class="ui-btns__item">
            <div class="ui-btns__type">По умолчанию</div>
            <button data-type="ui-btn_large_alert">Button label</button>
            <div class="ui-btns__descr"><b>Миксин:</b> .ui-btn_large_alert()</div>
        </div>

        <div class="ui-btns__item">
            <div class="ui-btns__type">Наведение</div>
            <button data-type="ui-btn_large_alert_hover">Button label</button>
            <div class="ui-btns__descr">
                <b>Миксин:</b> .ui-btn_large_alert()<br />
                <b>Состояние:</b> hover
            </div>
        </div>

        <div class="ui-btns__item">
            <div class="ui-btns__type">Активна</div>
            <button data-type="ui-btn_large_alert_active">Button label</button>
            <div class="ui-btns__descr">
                <b>Миксин:</b> .ui-btn_large_alert()<br />
                <b>Состояние:</b> active
            </div>
        </div>

        <div class="ui-btns__item">
            <div class="ui-btns__type">Неактивная</div>
            <button data-type="ui-btn_large_alert" disabled>Button label</button>
            <div class="ui-btns__descr">
                <b>Миксин:</b> .ui-btn_large_alert()<br />
                <b>Состояние:</b> disabled
            </div>
        </div>

        <div class="ui-btns__item">
            <div class="ui-btns__type">С иконкой</div>
            <button data-type="ui-btn_large_with-icon_alert">
                <plus-icon class="btn-icon"></plus-icon>Button label
            </button>
            <div class="ui-btns__descr">
                <b>Миксин:</b> .ui-btn_large_with-icon_alert()<br />
                <b>Класс для иконки:</b> .btn-icon
            </div>
        </div>

        <div class="ui-btns__item">
            <div class="ui-btns__type">Только иконка</div>
            <button data-type="ui-btn_large_only-icon_alert">
                <plus-icon class="btn-icon"></plus-icon>
            </button>
            <div class="ui-btns__descr">
                <b>Миксин:</b> .ui-btn_large_only-icon_alert()<br />
                <b>Класс для иконки:</b> .btn-icon
            </div>
        </div>
        <!-- #large -->

        <!-- .medium -->
        <div class="ui-btns__title">Medium</div>

        <div class="ui-btns__item">
            <div class="ui-btns__type">По умолчанию</div>
            <button data-type="ui-btn_medium_alert">Button label</button>
            <div class="ui-btns__descr"><b>Миксин:</b> .ui-btn_medium_alert()</div>
        </div>

        <div class="ui-btns__item">
            <div class="ui-btns__type">Наведение</div>
            <button data-type="ui-btn_medium_alert_hover">Button label</button>
            <div class="ui-btns__descr">
                <b>Миксин:</b> .ui-btn_medium_alert()<br />
                <b>Состояние:</b> hover
            </div>
        </div>

        <div class="ui-btns__item">
            <div class="ui-btns__type">Активна</div>
            <button data-type="ui-btn_medium_alert_active">Button label</button>
            <div class="ui-btns__descr">
                <b>Миксин:</b> .ui-btn_medium_alert()<br />
                <b>Состояние:</b> active
            </div>
        </div>

        <div class="ui-btns__item">
            <div class="ui-btns__type">Неактивная</div>
            <button data-type="ui-btn_medium_alert" disabled>Button label</button>
            <div class="ui-btns__descr">
                <b>Миксин:</b> .ui-btn_medium_alert()<br />
                <b>Состояние:</b> disabled
            </div>
        </div>

        <div class="ui-btns__item">
            <div class="ui-btns__type">С иконкой</div>
            <button data-type="ui-btn_medium_with-icon_alert">
                <plus-icon class="btn-icon"></plus-icon>Button label
            </button>
            <div class="ui-btns__descr">
                <b>Миксин:</b> .ui-btn_medium_with-icon_alert()<br />
                <b>Класс для иконки:</b> .btn-icon
            </div>
        </div>

        <div class="ui-btns__item">
            <div class="ui-btns__type">Только иконка</div>
            <button data-type="ui-btn_medium_only-icon_alert">
                <plus-icon class="btn-icon"></plus-icon>
            </button>
            <div class="ui-btns__descr">
                <b>Миксин:</b> .ui-btn_medium_only-icon_alert()<br />
                <b>Класс для иконки:</b> .btn-icon
            </div>
        </div>
        <!-- #medium -->

        <!-- .small -->
        <div class="ui-btns__title">Small</div>

        <div class="ui-btns__item">
            <div class="ui-btns__type">По умолчанию</div>
            <button data-type="ui-btn_small_alert">Button label</button>
            <div class="ui-btns__descr"><b>Миксин:</b> .ui-btn_small_alert()</div>
        </div>

        <div class="ui-btns__item">
            <div class="ui-btns__type">Наведение</div>
            <button data-type="ui-btn_small_alert_hover">Button label</button>
            <div class="ui-btns__descr">
                <b>Миксин:</b> .ui-btn_small_alert()<br />
                <b>Состояние:</b> hover
            </div>
        </div>

        <div class="ui-btns__item">
            <div class="ui-btns__type">Активна</div>
            <button data-type="ui-btn_small_alert_active">Button label</button>
            <div class="ui-btns__descr">
                <b>Миксин:</b> .ui-btn_small_alert()<br />
                <b>Состояние:</b> active
            </div>
        </div>

        <div class="ui-btns__item">
            <div class="ui-btns__type">Неактивная</div>
            <button data-type="ui-btn_small_alert" disabled>Button label</button>
            <div class="ui-btns__descr">
                <b>Миксин:</b> .ui-btn_small_alert()<br />
                <b>Состояние:</b> disabled
            </div>
        </div>

        <div class="ui-btns__item">
            <div class="ui-btns__type">С иконкой</div>
            <button data-type="ui-btn_small_with-icon_alert">
                <plus-icon class="btn-icon"></plus-icon>Button label
            </button>
            <div class="ui-btns__descr">
                <b>Миксин:</b> .ui-btn_small_with-icon_alert()<br />
                <b>Класс для иконки:</b> .btn-icon
            </div>
        </div>

        <div class="ui-btns__item">
            <div class="ui-btns__type">Только иконка</div>
            <button data-type="ui-btn_small_only-icon_alert">
                <plus-icon class="btn-icon"></plus-icon>
            </button>
            <div class="ui-btns__descr">
                <b>Миксин:</b> .ui-btn_small_only-icon_alert()<br />
                <b>Класс для иконки:</b> .btn-icon
            </div>
        </div>
        <!-- #small -->

    </div>
</div>
