<div class="icons-preview">
    <div class="icons-preview__grid large">
        <div class="icons-preview__item">
            <chevron-left-icon size="large">
            </chevron-left-icon>
        </div>
        <div class="icons-preview__item">
            <chevron-right-icon size="large">
            </chevron-right-icon>
        </div>
        <div class="icons-preview__item">
            <arrow-down-icon size="large">
            </arrow-down-icon>
        </div>
        <div class="icons-preview__item">
            <arrow-up-icon size="large">
            </arrow-up-icon>
        </div>
        <div class="icons-preview__item">
            <plus-icon size="large">
            </plus-icon>
        </div>
        <div class="icons-preview__item">
            <question-mark-icon size="large">
            </question-mark-icon>
        </div>
        <div class="icons-preview__item">
            <cross-icon size="large">
            </cross-icon>
        </div>
        <div class="icons-preview__item">
            <check-icon size="large">
            </check-icon>
        </div>
        <div class="icons-preview__item">
            <attention-icon size="large">
            </attention-icon>
        </div>
        <div class="icons-preview__item">
            <info-letter-icon size="large">
            </info-letter-icon>
        </div>
        <div class="icons-preview__item">
            <favorite-icon size="large">
            </favorite-icon>
        </div>
        <div class="icons-preview__item">
            <notification-icon size="large">
            </notification-icon>
        </div>
        <div class="icons-preview__item">
            <copy-icon size="large">
            </copy-icon>
        </div>
        <div class="icons-preview__item">
            <calendar-icon size="large">
            </calendar-icon>
        </div>
        <div class="icons-preview__item">
            <lock-icon size="large">
            </lock-icon>
        </div>
        <div class="icons-preview__item">
            <doc-icon size="large">
            </doc-icon>
        </div>
        <div class="icons-preview__item">
            <upload-icon size="large">
            </upload-icon>
        </div>
        <div class="icons-preview__item">
            <download-icon size="large">
            </download-icon>
        </div>
        <div class="icons-preview__item">
            <view-icon size="large">
            </view-icon>
        </div>
        <div class="icons-preview__item">
            <update-icon size="large">
            </update-icon>
        </div>
        <div class="icons-preview__devider"></div>
        <div class="icons-preview__item circle">
            <alert-icon size="large">
            </alert-icon>
        </div>
        <div class="icons-preview__item circle">
            <success-icon size="large">
            </success-icon>
        </div>
        <div class="icons-preview__item circle">
            <waiting-icon size="large">
            </waiting-icon>
        </div>
        <div class="icons-preview__item circle">
            <error-icon size="large">
            </error-icon>
        </div>
        <div class="icons-preview__item circle">
            <question-icon size="large">
            </question-icon>
        </div>
    </div>

    <div class="icons-preview__grid medium">
        <div class="icons-preview__item">
            <chevron-left-icon size="medium">
            </chevron-left-icon>
        </div>
        <div class="icons-preview__item">
            <chevron-right-icon size="medium">
            </chevron-right-icon>
        </div>
        <div class="icons-preview__item">
            <arrow-down-icon size="medium">
            </arrow-down-icon>
        </div>
        <div class="icons-preview__item">
            <arrow-up-icon size="medium">
            </arrow-up-icon>
        </div>
        <div class="icons-preview__item">
            <plus-icon size="medium">
            </plus-icon>
        </div>
        <div class="icons-preview__item">
            <question-mark-icon size="medium">
            </question-mark-icon>
        </div>
        <div class="icons-preview__item">
            <cross-icon size="medium">
            </cross-icon>
        </div>
        <div class="icons-preview__item">
            <check-icon size="medium">
            </check-icon>
        </div>
        <div class="icons-preview__item">
            <attention-icon size="medium">
            </attention-icon>
        </div>
        <div class="icons-preview__item">
            <info-letter-icon size="medium">
            </info-letter-icon>
        </div>
        <div class="icons-preview__item">
            <favorite-icon size="medium">
            </favorite-icon>
        </div>
        <div class="icons-preview__item">
            <notification-icon size="medium">
            </notification-icon>
        </div>
        <div class="icons-preview__item">
            <copy-icon size="medium">
            </copy-icon>
        </div>
        <div class="icons-preview__item">
            <calendar-icon size="medium">
            </calendar-icon>
        </div>
        <div class="icons-preview__item">
            <lock-icon size="medium">
            </lock-icon>
        </div>
        <div class="icons-preview__item">
            <doc-icon size="medium">
            </doc-icon>
        </div>
        <div class="icons-preview__item">
            <upload-icon size="medium">
            </upload-icon>
        </div>
        <div class="icons-preview__item">
            <download-icon size="medium">
            </download-icon>
        </div>
        <div class="icons-preview__item">
            <view-icon size="medium">
            </view-icon>
        </div>
        <div class="icons-preview__item">
            <update-icon size="medium">
            </update-icon>
        </div>
        <div class="icons-preview__devider"></div>
        <div class="icons-preview__item circle">
            <alert-icon size="medium">
            </alert-icon>
        </div>
        <div class="icons-preview__item circle">
            <success-icon size="medium">
            </success-icon>
        </div>
        <div class="icons-preview__item circle">
            <waiting-icon size="medium">
            </waiting-icon>
        </div>
        <div class="icons-preview__item circle">
            <error-icon size="medium">
            </error-icon>
        </div>
        <div class="icons-preview__item circle">
            <question-icon size="medium">
            </question-icon>
        </div>
    </div>

    <div class="icons-preview__grid small">
        <div class="icons-preview__item">
            <chevron-left-icon size="small">
            </chevron-left-icon>
        </div>
        <div class="icons-preview__item">
            <chevron-right-icon size="small">
            </chevron-right-icon>
        </div>
        <div class="icons-preview__item">
            <arrow-down-icon size="small">
            </arrow-down-icon>
        </div>
        <div class="icons-preview__item">
            <arrow-up-icon size="small">
            </arrow-up-icon>
        </div>
        <div class="icons-preview__item">
            <plus-icon size="small">
            </plus-icon>
        </div>
        <div class="icons-preview__item">
            <question-mark-icon size="small">
            </question-mark-icon>
        </div>
        <div class="icons-preview__item">
            <cross-icon size="small">
            </cross-icon>
        </div>
        <div class="icons-preview__item">
            <check-icon size="small">
            </check-icon>
        </div>
        <div class="icons-preview__item">
            <attention-icon size="small">
            </attention-icon>
        </div>
        <div class="icons-preview__item">
            <info-letter-icon size="small">
            </info-letter-icon>
        </div>
        <div class="icons-preview__item">
            <favorite-icon size="small">
            </favorite-icon>
        </div>
        <div class="icons-preview__item">
            <notification-icon size="small">
            </notification-icon>
        </div>
        <div class="icons-preview__item">
            <copy-icon size="small">
            </copy-icon>
        </div>
        <div class="icons-preview__item">
            <calendar-icon size="small">
            </calendar-icon>
        </div>
        <div class="icons-preview__item">
            <lock-icon size="small">
            </lock-icon>
        </div>
        <div class="icons-preview__item">
            <doc-icon size="small">
            </doc-icon>
        </div>
        <div class="icons-preview__item">
            <upload-icon size="small">
            </upload-icon>
        </div>
        <div class="icons-preview__item">
            <download-icon size="small">
            </download-icon>
        </div>
        <div class="icons-preview__item">
            <view-icon size="small">
            </view-icon>
        </div>
        <div class="icons-preview__item">
            <update-icon size="small">
            </update-icon>
        </div>
        <div class="icons-preview__devider"></div>
        <div class="icons-preview__item circle">
            <alert-icon size="small">
            </alert-icon>
        </div>
        <div class="icons-preview__item circle">
            <success-icon size="small">
            </success-icon>
        </div>
        <div class="icons-preview__item circle">
            <waiting-icon size="small">
            </waiting-icon>
        </div>
        <div class="icons-preview__item circle">
            <error-icon size="small">
            </error-icon>
        </div>
        <div class="icons-preview__item circle">
            <question-icon size="small">
            </question-icon>
        </div>
    </div>


    <div class="icons-preview__row">
        <div class="icons-preview__title">chevron-left-icon</div>
        <div class="icons-preview__descr">
            <b>Размеры передаваемые как атрибут size:</b><br /> large, medium (по умолчанию), small
        </div>
        <div class="icons-preview__list">
            <div class="icons-preview__icon large">
                <chevron-left-icon size="large">
                </chevron-left-icon>
            </div>
            <div class="icons-preview__icon medium">
                <chevron-left-icon size="medium">
                </chevron-left-icon>
            </div>
            <div class="icons-preview__icon small">
                <chevron-left-icon size="small">
                </chevron-left-icon>
            </div>
        </div>
    </div>
    <div class="icons-preview__row">
        <div class="icons-preview__title">chevron-right-icon</div>
        <div class="icons-preview__descr">
            <b>Размеры передаваемые как атрибут size:</b><br /> large, medium (по умолчанию), small
        </div>
        <div class="icons-preview__list">
            <div class="icons-preview__icon large">
                <chevron-right-icon size="large">
                </chevron-right-icon>
            </div>
            <div class="icons-preview__icon medium">
                <chevron-right-icon size="medium">
                </chevron-right-icon>
            </div>
            <div class="icons-preview__icon small">
                <chevron-right-icon size="small">
                </chevron-right-icon>
            </div>
        </div>
    </div>
    <div class="icons-preview__row">
        <div class="icons-preview__title">arrow-down-icon</div>
        <div class="icons-preview__descr">
            <b>Размеры передаваемые как атрибут size:</b><br /> large, medium (по умолчанию), small
        </div>
        <div class="icons-preview__list">
            <div class="icons-preview__icon large">
                <arrow-down-icon size="large">
                </arrow-down-icon>
            </div>
            <div class="icons-preview__icon medium">
                <arrow-down-icon size="medium">
                </arrow-down-icon>
            </div>
            <div class="icons-preview__icon small">
                <arrow-down-icon size="small">
                </arrow-down-icon>
            </div>
        </div>
    </div>
    <div class="icons-preview__row">
        <div class="icons-preview__title">arrow-up-icon</div>
        <div class="icons-preview__descr">
            <b>Размеры передаваемые как атрибут size:</b><br /> large, medium (по умолчанию), small
        </div>
        <div class="icons-preview__list">
            <div class="icons-preview__icon large">
                <arrow-up-icon size="large">
                </arrow-up-icon>
            </div>
            <div class="icons-preview__icon medium">
                <arrow-up-icon size="medium">
                </arrow-up-icon>
            </div>
            <div class="icons-preview__icon small">
                <arrow-up-icon size="small">
                </arrow-up-icon>
            </div>
        </div>
    </div>
    <div class="icons-preview__row">
        <div class="icons-preview__title">plus-icon</div>
        <div class="icons-preview__descr">
            <b>Размеры передаваемые как атрибут size:</b><br /> large, medium (по умолчанию), small
        </div>
        <div class="icons-preview__list">
            <div class="icons-preview__icon large">
                <plus-icon size="large">
                </plus-icon>
            </div>
            <div class="icons-preview__icon medium">
                <plus-icon size="medium">
                </plus-icon>
            </div>
            <div class="icons-preview__icon small">
                <plus-icon size="small">
                </plus-icon>
            </div>
        </div>
    </div>
    <div class="icons-preview__row">
        <div class="icons-preview__title">question-mark-icon</div>
        <div class="icons-preview__descr">
            <b>Размеры передаваемые как атрибут size:</b><br /> large, medium (по умолчанию), small
        </div>
        <div class="icons-preview__list">
            <div class="icons-preview__icon large">
                <question-mark-icon size="large">
                </question-mark-icon>
            </div>
            <div class="icons-preview__icon medium">
                <question-mark-icon size="medium">
                </question-mark-icon>
            </div>
            <div class="icons-preview__icon small">
                <question-mark-icon size="small">
                </question-mark-icon>
            </div>
        </div>
    </div>
    <div class="icons-preview__row">
        <div class="icons-preview__title">cross-icon</div>
        <div class="icons-preview__descr">
            <b>Размеры передаваемые как атрибут size:</b><br /> large, medium (по умолчанию), small
        </div>
        <div class="icons-preview__list">
            <div class="icons-preview__icon large">
                <cross-icon size="large">
                </cross-icon>
            </div>
            <div class="icons-preview__icon medium">
                <cross-icon size="medium">
                </cross-icon>
            </div>
            <div class="icons-preview__icon small">
                <cross-icon size="small">
                </cross-icon>
            </div>
        </div>
    </div>
    <div class="icons-preview__row">
        <div class="icons-preview__title">check-icon</div>
        <div class="icons-preview__descr">
            <b>Размеры передаваемые как атрибут size:</b><br /> large, medium (по умолчанию), small
        </div>
        <div class="icons-preview__list">
            <div class="icons-preview__icon large">
                <check-icon size="large">
                </check-icon>
            </div>
            <div class="icons-preview__icon medium">
                <check-icon size="medium">
                </check-icon>
            </div>
            <div class="icons-preview__icon small">
                <check-icon size="small">
                </check-icon>
            </div>
        </div>
    </div>
    <div class="icons-preview__row">
        <div class="icons-preview__title">attention-icon</div>
        <div class="icons-preview__descr">
            <b>Размеры передаваемые как атрибут size:</b><br /> large, medium (по умолчанию), small
        </div>
        <div class="icons-preview__list">
            <div class="icons-preview__icon large">
                <attention-icon size="large">
                </attention-icon>
            </div>
            <div class="icons-preview__icon medium">
                <attention-icon size="medium">
                </attention-icon>
            </div>
            <div class="icons-preview__icon small">
                <attention-icon size="small">
                </attention-icon>
            </div>
        </div>
    </div>
    <div class="icons-preview__row">
        <div class="icons-preview__title">info-letter-icon</div>
        <div class="icons-preview__descr">
            <b>Размеры передаваемые как атрибут size:</b><br /> large, medium (по умолчанию), small
        </div>
        <div class="icons-preview__list">
            <div class="icons-preview__icon large">
                <info-letter-icon size="large">
                </info-letter-icon>
            </div>
            <div class="icons-preview__icon medium">
                <info-letter-icon size="medium">
                </info-letter-icon>
            </div>
            <div class="icons-preview__icon small">
                <info-letter-icon size="small">
                </info-letter-icon>
            </div>
        </div>
    </div>
    <div class="icons-preview__row">
        <div class="icons-preview__title">favorite-icon</div>
        <div class="icons-preview__descr">
            <b>Размеры передаваемые как атрибут size:</b><br /> large, medium (по умолчанию), small
        </div>
        <div class="icons-preview__list">
            <div class="icons-preview__icon large">
                <favorite-icon size="large">
                </favorite-icon>
            </div>
            <div class="icons-preview__icon medium">
                <favorite-icon size="medium">
                </favorite-icon>
            </div>
            <div class="icons-preview__icon small">
                <favorite-icon size="small">
                </favorite-icon>
            </div>
        </div>
    </div>
    <div class="icons-preview__row">
        <div class="icons-preview__title">notification-icon</div>
        <div class="icons-preview__descr">
            <b>Размеры передаваемые как атрибут size:</b><br /> large, medium (по умолчанию), small
        </div>
        <div class="icons-preview__list">
            <div class="icons-preview__icon large">
                <notification-icon size="large">
                </notification-icon>
            </div>
            <div class="icons-preview__icon medium">
                <notification-icon size="medium">
                </notification-icon>
            </div>
            <div class="icons-preview__icon small">
                <notification-icon size="small">
                </notification-icon>
            </div>
        </div>
    </div>
    <div class="icons-preview__row">
        <div class="icons-preview__title">copy-icon</div>
        <div class="icons-preview__descr">
            <b>Размеры передаваемые как атрибут size:</b><br /> large, medium (по умолчанию), small
        </div>
        <div class="icons-preview__list">
            <div class="icons-preview__icon large">
                <copy-icon size="large">
                </copy-icon>
            </div>
            <div class="icons-preview__icon medium">
                <copy-icon size="medium">
                </copy-icon>
            </div>
            <div class="icons-preview__icon small">
                <copy-icon size="small">
                </copy-icon>
            </div>
        </div>
    </div>
    <div class="icons-preview__row">
        <div class="icons-preview__title">calendar-icon</div>
        <div class="icons-preview__descr">
            <b>Размеры передаваемые как атрибут size:</b><br /> large, medium (по умолчанию), small
        </div>
        <div class="icons-preview__list">
            <div class="icons-preview__icon large">
                <calendar-icon size="large">
                </calendar-icon>
            </div>
            <div class="icons-preview__icon medium">
                <calendar-icon size="medium">
                </calendar-icon>
            </div>
            <div class="icons-preview__icon small">
                <calendar-icon size="small">
                </calendar-icon>
            </div>
        </div>
    </div>
</div>
